.review {
    /* text-align: center; */
  color: white;
  background-color: #40005d;
  border: 2px solid white;
  padding: 7px 10px;
  max-height: 300px;
  overflow-y: auto;
  font-size: 1.5rem;
  border-radius: 12px;
  
  align-self: flex-end;
    border-radius: 12px;
  max-width: 1000px;
  margin:10px  auto;;
}

.user__writer {
    font-weight:lighter;
    color: grey;
    font-style: italic;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
  }