.default-button {
    padding: 1rem 2rem;
    border-radius: 12px;
    color: white;
    font: inherit;
    border: 1px solid #40005d;
    background-color: #40005d;
    cursor: pointer;
    margin: 1rem;

}

.new-expense {
    text-align: center;
}

button:hover,
button:active {
  background-color: #510674;
  border-color: #510674;
  
}

button:active{
    box-shadow: 2px 2px 5px black;
}
